#mainVisual{
    width: 100%;
    height: 1080px;
    position: relative;
}
#mainVisual .mainBanner{
    width: 100%;
    height: 1080px;
    position: relative;
    overflow: hidden;
}
#mainVisual .mainBanner li{
    width: 100%;
    height: 1080px;
    position: absolute;
    left: 100%;
    top: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
#mainVisual .mainBanner li:nth-child(1){
    left: 0;
    background-image: url(../images/main01_pc.jpg);
}
#mainVisual .mainBanner li:nth-child(2){
    background-image: url(../images/main02_pc.jpg);
}
#mainVisual .mainBanner li:nth-child(3){
    background-image: url(../images/main03_pc.jpg);
}
#mainVisual .mainBanner li:nth-child(4){
    background-image: url(../images/main04_pc.jpg);
}
#mainVisual .mainBanner li .inner{
    width: 1160px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#mainVisual .mainBanner li h2{
    font-size: 36px;
    color: #fff;
}
#mainVisual .mainBanner li h2 span{
}
#mainVisual .mainBanner li h2 +p{
    font-size: 18px;
    color: #fff;
}
#mainVisual .mainBanner li h2 +p span{}
#mainVisual .mainBanner li .more{}
#mainVisual .mainBanner li .more a{}

#mainVisual .btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    background: transparent;
}
#mainVisual .btn i{
    color:#fff;
    font-size: 28px;
}
#mainVisual .prev{
    left: 100px;
}
#mainVisual .next{
    right: 100px;
}
#mainVisual .mouse{}

.main{}
.main h2{
    font-size: 43px;
}

.main .con1 .inner,
.main .con2 .inner{
    padding: 120px 0;
}
.main .con1 .more,
.main .con2 .more{
    text-align: center;
}

.main .con1 .more a,
.main .con2 .more a{
    display: inline-block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 15px;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}
.main .con1 .more a:hover,
.main .con2 .more a:hover{
    border-color: orange;
}
.main .con1 .more a::before,
.main .con2 .more a::before{
    content: "";
    display: block;
    width: 220px;
    height: 70px;
    background: orange;
    position: absolute;
    left: -230px;
    top: -10px;
    transition: 0.3s;
    transform: skewX(-30deg);
    z-index: 10;
}
.main .con1 .more a:hover::before,
.main .con2 .more a:hover::before{
    left: -10px;
}
.main .con1 .more a span,
.main .con2 .more a span{
    position: relative;
    z-index: 20;
}
.main .con1 .more a:hover span,
.main .con2 .more a:hover span{
    color: #fff;
}

.main .con3 .more,
.main .con4 .more{}

.main .con3 .more a,
.main .con4 .more a{
    display: inline-block;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 15px;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

.main .con3 .more a::before,
.main .con4 .more a::before{
    content: "";
    display: block;
    width: 220px;
    height: 70px;
    position: absolute;
    left: -230px;
    top: -10px;
    transition: 0.3s;
    transform: skewX(-30deg);
    z-index: 10;
}

.main .con3 .more a:hover::before,
.main .con4 .more a:hover::before{
    left: -10px;
}
.main .con3 .more a:hover span,
.main .con4 .more a:hover span{
    color: transparent;
}

.main .con1 {}
.main .con1 h2{
    text-align: center;
    margin-bottom: 6px;
}
.main .con1 h2 + p{
    text-align: center;
    font-size: 17px;
    margin-bottom: 50px;
}

.main .con1 ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.main .con1 ul li {
    width: 270px;
}
.main .con1 ul li a{}
.main .con1 ul li a div{
    width: 270px;
    height: 365px;
    overflow: hidden;
}
.main .con1 ul li a div img{
    width: 100%;
    transition: 0.7s;
}
.main .con1 ul li a div:hover img{
    transform: scale(1.2);
}
.main .con1 ul li a h3{
    font-size: 20px;
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #999;
}
.main .con1 ul li a h3 span{
    display: block;
}
.main .con1 ul li a p{
    font-size: 15px;
    color: #676767;
    word-break: keep-all; /* 단어단위로 줄바꿈! */
}


.main .con2{
    position: relative;
}
.main .con2::after{
    content: "";
    width: 100%;
    height: 50%;
    display: block;
    background: #efefef;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000; /* con2의 배경이미지나 색상이 없을 경우 가능 */
}
.main .con2 h2{
    text-align: center;
    margin-bottom: 50px;
}
.main .con2 ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.main .con2 ul li{
    width: 580px;
}
.main .con2 ul li a{
    display: block;
    width: 580px;
    height: 547px;
    overflow: hidden;
    position: relative;
}
.main .con2 ul li a > img{
    transition: 1s;
}
.main .con2 ul li a:hover > img{
    transform: scale(1.1);
}
.main .con2 ul li a .txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.main .con2 ul li a .txt strong{
    font-size: 28px;
}
.main .con2 ul li a .txt h3{
    font-size: 48px;
    margin-bottom: 30px;
}
.main .con2 ul li a .txt span{}
.main .con2 ul li a .txt span img{}
.main .con2 ul li a + p{
    margin-top: 24px;
    margin-bottom: 20px;
    color: #676767;
    text-align: center;

}

.main .con3{
    position: relative;
}
.main .con3::after{
    content: '';
    display: block;
    width: 40%;
    height: 100%;
    background: #07255d;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
}
.main .con3 .inner{}
.main .con3 .inner .public{
    color: #fff;
}
.main .con3 .inner .public strong{}
.main .con3 .inner .public h2{}
.main .con3 .inner .public > p{}
.main .con3 .inner ul{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}
.main .con3 .inner ul li{
    width: 275px;
}
.main .con3 .inner ul li a div{}
.main .con3 .inner ul li a div img{
    width: 275px;
}